.todolist {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
  }
  h1{
    text-align: center;
  }

  table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 1000px;
    margin: 50px auto;
    border-radius: .25rem;
  }

  thead tr:first-child {
    background: #ed1c40;
    color: #fff;
    border: none;
  }

  th:first-child,
  td:first-child {
    padding: 0 15px 0 20px;
  }

  thead tr:last-child th {
    border-bottom: 3px solid #ddd;
  }

  tbody tr:hover {
    background-color: rgba(237, 28, 64, .1);
    cursor: default;
  }

  tbody tr:last-child td {
    border: none;
  }

  tbody td {
    border-bottom: 1px solid #ddd;
  }

  td:last-child {
    text-align: right;
    padding-right: 10px;
  }

  .button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
  }

  .edit:hover {
    color: #0a79df;
  }
  .add:hover {
    color: #169c23;
  }
  .add_box:hover {
    color: #127c1e;
  }

  .delete:hover {
    color: #dc2a2a;
  }
  .delete_forever:hover {
    color: #fffdf4;
  }
  /*i:hover::after {
    content: attr(data-title); /* Выводим текст */
  /*  position: relative; /* Абсолютное позиционирование */
    /*left: 0; right: 0; bottom: 5px;*/
    /*left: 20%; top: 30%; /* Положение подсказки */
  /*  z-index: 1; /* Отображаем подсказку поверх других элементов */
  /* background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
  /*  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  /*  font-size: 11px; /* Размер текста подсказки */
  /*  padding: 5px 10px; /* Поля */
  /*  border: 1px solid #333; /* Параметры рамки */
 /* }*/

  i:hover::after{
    background: #333;
    background: rgba(129, 22, 37, 0.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data_title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: auto;
  }
  /*i:hover::before{ /* Добавляем стрелочку внизу блока всплывающей подсказки */
    /*border: solid;
    border-color: #811625 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: relative;
    z-index: 99;
  }*/


  a:hover {
    background-color: transparent; /* Прозрачный цвет ссылки при наведении на нее курсора мыши */
    text-decoration: none; /* Убираем подчеркивание */
  }
  }